* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Calibri';
}
.container {
  width: 550px;
  padding: 48px 40px 36px;
  border-radius: 8px;
  border: 1px solid #dadce0;
}
h1 {
  color: black;
  font-weight: 400;
}

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='date'],
input[type='number'] {
  border: 1px solid #dadce0;
  padding: 1px 10px;
  height: 36px;
  border-radius: 5px;
  width: 100%;
}
input[disabled] {
  background-color: white;
}
.w-half {
  width: 250px;
}
.w-full {
  width: 500px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
small {
  font-size: 14px;
  color: #5f6368;
}
a {
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
  color: #1a73e8;
  text-decoration: none;
}
button {
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}
.error {
  font-size: 12px;
  display: none;
  color: rgb(230, 0, 0);
}
input[type='radio'] {
  margin: 10px 20px;
}
.user-detail li {
  font-size: 14px;
  font-weight: bold;
}
